$def with (photo)

<head>
</head>
<body>
<table border =1 align="center">
<tr>
<td colspan="2"  align="right">
<form action = "/login/quit" method = "GET">
<input type="submit" value="退出" />
</form>
</td>
</tr>
<tr>
<td colspan="2" >
<img src="$photo" width=240 height=320 />
</td>
</tr>
<tr align="center">
<td>
<form action = "/change" method = "GET">
<input type="submit" value="修改头像" />
</form>
</td>
<td>
<form action = "/search" method = "GET">
<input type="submit" value="查询头像" />
</form>
</td>
</tr>
</table>
</body>