<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="pragma" content="no-cache" /> 
<meta http-equiv="Cache-Control" content="no-cache,must-revalidate" /> 
<meta http-equiv="expires" content="0" />
<html>
<head>

</head>
<body>

<form action = "/register" method = "get" align="right">
 	<input type = "submit" value = "注册" />
</form>
    
<h2 align="center">个人主页登录页面</h2>

<form action = "" method = "post" align="center">

	<p>
	  <label>帐号:</label>
	  <input type="text" name="user" id="id" value="">
	</p>
	
	<p>
	  <label for="password">密码:</label>
	  <input type="password" name="password" id="password" value="">
	</p>
	
	<input type="submit" value = "登录"/>

</form>

</body>
</html>
