
<body>

<div class="container">
	<div class="row" >
	
		 <div class="col-xs-6 col-md-4"  ></div>   <!-- 把页面分成三部分，取中间部分用于form -->
		 
		<div class="col-xs-6 col-md-4" 
		         style="background-color: #dedef8;margin-top: 100px;padding-top: 50px;
		         box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
		         <form class="form-horizontal"  action = "" method = "post" enctype="multipart/form-data" align="center">
		             <div class="form-group">
		                <label for="name" class="col-md-4 control-label">选择头像</label>
		                <div class="col-md-8">
							<input type="file" name="photo"/>
						</div>												
					</div>
					
					<div class="form-group">
		                <div class="col-md-10">
							<input type = "submit" value = "提交" />
						</div>												
					</div>
										
				 </form>
		 </div>
	</div>
</div>


</body>